<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

</head>
<body>
<div class="container">
<!-- End header Section -->
    <header>
        <nav class="row">
            <div class="logo">CV</div>
            <!-- <div class="menue_container">
            
            </div> -->
            <div class="burger_menue">
                <i  id="burger_icon" class="fas fa-bars"></i>
                <!-- <div class="drop_menu">
                    <ul>
                        <li><a href="#Home">Home</a></li>
                        <li><a href="#About">About</a></li>
                        <li><a href="#Skills">Skills</a></li>
                        <li><a href="#Services">Services</a></li>
                        <li><a href="#Experience">Experience</a></li>
                        <li><a href="#portifilo">portifilo</a></li>
                        <li><a href="#Contact">Contact</a></li>
                    </ul>
                </div> -->

            </div>
            
        </nav>
       <div class="left_to_right_menu">
          <div class="side_menu_container">
            <div class="burger_menue__x">
                <i  id="burger_icon" class="fas fa-times"></i>
                <div class="side_menu">
                    <ul>
                        <li><a href="#Home">Home</a></li>
                        <li><a href="#About">About</a></li>
                        <li><a href="#Skills">Skills</a></li>
                        <li><a href="#Services">Services</a></li>
                        <li><a href="#Experience">Experience</a></li>
                        <li><a href="#portifilo">Portifilo</a></li>
                        <li><a href="#Contact">Contact</a></li>
                        
                        
                    </ul>
                    <div class="btn_container"><button id="btn"> dark mode</button>
                        <button id="btn_light" class="active">light mode</button>
                    </div>
                </div>

          </div>
    </div>
    </header>
<!-- End header Section -->
    <main>
<!-- Start home Section -->
        <section class="landing" id="Home">
                <article class="landing_contet">
                    <h1>Hi,I’m <span class="my_name">Afaf Albakri</span></h1>
                   <h1>a <span class="title"> DEVELOPER  </span></h1>
                   <p>I'm a Freelancer Front-end Developer with proven ability
                       to design professional responsive websites using pure Css,
                       JavaScript and modern frameworks. 
                    </p>
                 
             <div class="social_links_container social_links_top">find Me On
                <ul class="social_links">
                        <li><a><i class="fab fa-facebook-f"></i></a></li>
                        <li><a><i class="fab fa-twitter "></i></a></li>
                        <li><a><i class="fab fa-instagram "></i></a></li>
                        <li> <a><i class="fab fa-linkedin-in "></i></a></li>
                </ul>
            </div> 
                </article>
                <div class="myphoto_container">
                    <img src="img/undraw_teacher_re_sico.svg" alt="">
                </div>
            
        </section>
<!-- End home Section -->
        <hr>
<!-- Start skills Section -->
        <section class="skills" id="Skills">
            <div class="header_contianer">
                <span class="heading_span">Qualification
                </span>
                <h1 class="heading_h">knowledge and skills</h1>
            </div>
            <div class="feat_text_cont">
                <article  style="width:95%">
                   <div> <span>Html & Css</span><span>95%</span></div>
                </article>
                <article  style="width:85%">
                    <div> <span>Javascript</span><span>85%</span></div>
                </article>
                <article  style="width:70%" >
                    <div><span>Bootstrap</span> <span>70%</span></div>
                </article >
                <article  style="width:95%">
                    <div><span>Joomla Development</span> <span>95%</span></div>
                </article>
            <article  style="width:90%">
                <div><span>Moodle Developement</span> <span>90%</span></div>
            </article>
            </div>
        </section>
 <!-- End skills Section -->
        <hr>
<!-- Start Services Section -->
        <section class="features" id="Services">
            <div class="header_contianer">
                <span class="heading_span">Services
                </span>
                <h1 class="heading_h">What I Do</h1>
            </div>
            <div class="services_text_cont">
                <article>
                    <a href=""><i class="fas fa-palette"></i></i></a>
                    <h3>Front End Web Design</h3>
                   
                </article>
                <article>
                    <a href=""><i class="fas fa-compress-alt"></i></a>
                    <h3>bootstarp Responsive</h3>
               
                </article>
                <article>
                    <a href=""><i class="fab fa-searchengin"></i></a>
                    <h3>Search Engine Optmization</h3>
                    
                </article>
                <article>
                    <a href=""><i class="fas fa-graduation-cap"></i></a>
                    <h3>Moodle Developement</h3>
                  
                </article>

                <article>
                    <a href=""><i class="fab fa-joomla"></i></a>
                    <h3>Joomla Development</h3>
                  
                </article>
            </div>
           
        </section>
<!-- End Services Section -->
        <hr>
<!--  Start Experience Section -->
        <section class="features" id="Experience">
            <div class="header_contianer">
                <span class="heading_span">Qualification
                </span>
                <h1 class="heading_h">Experience</h1>
            </div>
            <div class="services_text_cont Experience">
                <article>
                    <h3> Full Stack Developer</h3>
                    <hr>
                    <div>Coding Academy</div>
                    <div>Jan 2022 - Now</div>
                </article>
                <article>
                    <h3>CMS Administration </h3>
                    <hr>
                    <div>Prosite Yemen</div>
                    <div>Spt 2021 - Oct</div>
                </article>
                <article>
                    <h3>Front End Developer</h3>
                    <hr>
                    <div>Free Code Camp</div>
                    <div>Oct 2021 - Nov</div>
            </div>
           
        </section>
<!-- End Experience Section -->
        <hr>
<!-- Start portifilo Section -->
        <section class="portifolio" id="portifilo">
            <div class="header_contianer">
                <span class="heading_span">Qualification
                </span>
                <h1 class="heading_h">portifolio</h1>
            </div>
            <div class="port_text_cont">
                <article>
                    <a href=""><i class="fas fa-graduation-cap"></i></a>
                    <div class="port_img_container">
                      
                        <div class="port_img"></div>
                    </div>
                    <div class="port_info">
                        <span>CMS</span> <span>Moodle</span>
                        <p>Education Moodle website</p>
                    </div>
                   
                </article>
                 <article>
                    <a href=""><i class="fas fa-graduation-cap"></i></a>
                    <div class="port_img_container">
                      
                        <div class="port_img"></div>
                    </div>
                    <div class="port_info">
                        <span>Html</span> <span>Bootstarp</span>
                        <p>Bootstarp Responsive</p>
                    </div>
                   
                </article>
                
                <article>
                    <a href=""><i class="fas fa-graduation-cap"></i></a>
                    <div class="port_img_container">
                      
                        <div class="port_img"></div>
                    </div>
                    <div class="port_info">
                        <span>Html</span> <span>Css</span>
                        <p>Pure Css Responsive</p>
                    </div>
                   
                </article>
           </div>
    </section>
        <hr>
<!-- End portifilo Section -->
 <!-- Start contact Section -->
        <section class="contactMe "id="Contact">
         
            <div class="header_contianer">
                <span class="heading_span">contact</span>
                <h1 class="heading_h">Contact With Me</h1>
            </div>

            <div class="contactMe_cont">
             <div class="contact_info">
               <div class="img_con"> <img  id="affect_img"src="img/contact1.png" alt=""></div>
                <article>
                   <h3>Contact Info</h3> 
                   <p>I am available for freelance work. Contact  me via and call in to my account.</p>
                    <div class="email_number">  
                        <div>phone:<a href="+967 775199864"> +967 775199864</a></div>
                        <div>Email: <a href="mailto:afaf14albakri@gmail.com">afaf14albakri@gmail.com</a></div>
                    </div>
                   <div class="social_links_container">find Me On
                        <ul class="social_links">
                                <li><a><i class="fab fa-facebook-f"></i></a></li>
                                <li><a><i class="fab fa-twitter "></i></a></li>
                                <li><a><i class="fab fa-instagram "></i></a></li>
                                <li> <a><i class="fab fa-linkedin-in "></i></a></li>
                        </ul>
                    </div> 
                </article>
             </div>
            <div class="form_container">
                <form >
                
                    <label>Your Name</label><input class="full_width" id ="name" type="text" name="sender_name"> <span class="input_status">input_status</span>
                    <label>Phone Number</label><input type="tel"class="full_width" name="phone_number" id="phone"><span class="input_status">input_status</span>
                     <label >Email</label> <input class="full_width"type="email" name="email" id="email"><span class="input_status">input_status</span>
                    <label >Subject</label> <input class="full_width"type="text" name="subject" id="subject" ><span class="input_status">input_status</span>
                    <label >Your message</label><textarea class="full_width" name="" id="message" cols="20" rows="6"></textarea><br><span class="input_status">input_status</span>
                    <button class="btn" type="submit">send Message</button>
                 </form>
        </div>
     </div>
    </section>
<!-- End contact Section -->
        <hr>
    </main>
        <footer>
            &copy; 2022. All rights are reserved.
            <div class="to_top"><a><i class="fas fa-angle-double-up"></i></a></div>
        </footer>
     
</div>
<script>
    var burger_icon =document.getElementById("burger_icon");
    var left_to_right_menu =document.querySelector(".left_to_right_menu");
    var  burger_menue__x =document.querySelector(".left_to_right_menu");
    var to_top =document.querySelector(".to_top");
    var name  =document.getElementById("name");
    var email  =document.getElementById("email");
    var message  =document.getElementById("message");
    var affect_img=document.getElementById("affect_img");
    affect_img.onmouseenter= function(){
        affect_img.style.transitionDuration="2s";
        affect_img.style.transform="scale(1.1)";
        
        }    
        affect_img.onmouseleave= function(){
        affect_img.style.transform="scale(1)";
        }    
        
    burger_icon.addEventListener('click',()=>{
        
        left_to_right_menu.style.right="0";
    });
    burger_menue__x.addEventListener('click',()=>{
        
        left_to_right_menu.style.right="-100vw";
    });


     // scroll button
      
     
     document.onscroll= function(){
                if(document.body.scrollTop>100||document.documentElement.scrollTop>100){
                    to_top.style.opacity="1";
                   
                }
                else{
                    to_top.style.opacity="0";
                    
                }

        }
        to_top.onclick=function(){
            if(to_top.style.opacity==1){
                
                document.documentElement.scrollTop=0;
                document.body.scrollTop=0;
                
                
            }
        }
//validation; 
    var name1=document.getElementById("name"); 
    var Email1=document.getElementById("email");
    var message1=document.getElementById("message");   
    var phone=document.getElementById("phone");

    function validateEmail(elementValue){      
        var emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
        return emailPattern.test(elementValue); 
         }
 
Email1.addEventListener('keyup',()=>{
var email_test=validateEmail(Email1.value);
 console.log(" name "+ email_test);
 
if( email_test==false){
    Email1.style.outlineColor="red";

}
else{
    Email1.style.outlineColor="green";
}

});


    function name_validate(elementValue){      
        var nPattern = /^[a-zA-Z]{3,9}$/;
        return nPattern.test(elementValue); 
    }
 
 
 name1.addEventListener('keyup',()=>{
var name_test=name_validate(name1.value);
 console.log(" name "+name_test);
 
if( name_test==false){
    name1.style.outlineColor="red";

}
else{
    name1.style.outlineColor="green";
}

});

function validatePhone(elementValue){ 
      var phonePattern=/^[0-9]+$/;
    var isNum=phonePattern.test(elementValue); 
    if(isNum){
        if(elementValue.length==9){
            var first_part=elementValue.slice(0,3);
            console.log(first_part);
            console.log(elementValue);
           
                return  first_part=="777";
            }
        }
        
        return false;
    }
phone.addEventListener('keyup',()=>{

var phone_test=validatePhone(phone.value);
console.log(phone_test);
if( phone_test==false){
    phone.style.outlineColor="red";

}
else{
    phone.style.outlineColor="green";
}

});

function message_validate(elementValue){      
   var message = /^[a-zA-Z]{21,}$/;
   return message.test(elementValue); 
 }
 

 message1.addEventListener('keyup',()=>{
var message_test=message_validate(message1.value);
 console.log(" name "+message_test);
 
if( message_test==false){
    message1.style.outlineColor="red";

}
else{
    message1.style.outlineColor="green";
}

});
 
var btn=document.getElementById("btn");
    btn.onclick=function(){
        document.querySelector('link[rel="stylesheet"]').href="css/darkmode2.css";
    
    }
    var btn=document.getElementById("btn");
    btn_light==document.getElementById("btn_light");
    btn.onclick=function(){
        document.querySelector('link[rel="stylesheet"]').href="css/darkmode2.css";
        btn_light.classlist.remove(".active");
        btn.classlist.add(".active");
    
    }
   
    btn_light.onclick=function(){
        document.querySelector('link[rel="stylesheet"]').href="css/style.css";
        btn.classlist.remove(".active");
        btn_light.classlist.add(".active");
    
    }
 

</script>
</body>
</html>
